*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

img{
    max-width: 100%;
}

body{
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    background-color: rgba(143,152,157,0.60);
}
/*me guardo este estilo porque todavia no me convence
#backgroundDiferente{
    background-image: radial-gradient(at top center, rgba(255,255,255,0.03) 0%, rgba(0,0,0,0.03) 100%), linear-gradient(to top, rgba(255,255,255,0.1) 0%, rgba(143,152,157,0.60) 100%);
 	background-blend-mode: normal, multiply;
}*/

#grillaIndex{
    display: grid;
    /*declaro columnas*/
    grid-template-columns: repeat(3,1fr);
    /*declaro filas*/
    grid-template-rows: 125px 500px auto 50px;
    grid-template-areas:
    "header header header"
    "carrousel carrousel carrousel"
    "adoptantes adoptantes adoptantes"
    "footer footer footer";
    height: 100vh;
}

header{
    background-color: black;
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    z-index:6;
    width:100%;
}

.logo{
    border: solid #8f2d56;
}

#ulnav{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-left: 5rem;
    margin-right:15rem;
    gap: 11rem;
}

#ulnav li{
    font-size: 1.7rem;
    font-weight: 1000;
}

#ulnav li a{
    text-decoration: none;
    color:#5cbcb8;
}

#ulnav li a:hover{
    background-color: #d81159;
    padding: 1.5rem;
}

h1{
    font-size: 2.2rem;
    text-align: center;
    margin-top: 7rem;
    margin-bottom: 5rem;
}

#carrousel{
    grid-area: carrousel;
}

#carouselExampleIndicators{/*ver si puedo ponerle transform scale*/
    width:24%;
    margin: 0 auto;
}

h2{
    font-size: 2rem;
    text-align: center;
}

h3{
    font-size: 1.6rem;
    text-align: center;
}

#adoptantes{
    grid-area: adoptantes;
}

.adoptantesFotos{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.borde{
    border: solid .5rem #d81159;
    padding: 0.5rem;
}

.testimonioAdoptante{
    font-size: 1.2rem;
    
}

footer{
    margin-top: 2rem;
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: .9rem;
    text-align: center;
    border-style: double;
    border-width: 0.5rem;
    border-color: #218380;
    flex-wrap: wrap;
}

#nosotrosFlex{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    margin-top:13rem;
}

#nosotrosFlex h1{
    margin-bottom: 2rem;
    font-weight: bolder;
}

#nosotrosFlex h2{
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-weight: bolder;
}

#ayuda{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    margin-bottom: 5rem;
}

#ayuda h2{
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-weight: bolder;
}

#ayuda h3{
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-weight: bolder;
}

#ayuda ul li{
    list-style: none;
}

.nosotros{
    font-size: 1.6rem;
    margin-left: 3rem;
    margin-right: 3rem;
}

.donacion{
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}

/*MEDIA QUERY desde pantalla de televisor hd a celular*/

@media screen and (max-width:1270px) {
    header{
        display: flex;
        flex-direction: column;
        justify-content: column;
        align-items: center;
        flex-wrap: wrap;
    }
    .logo{
        width:10rem;
    }
    #ulnav{
        margin-left: 9rem;
        margin-right:9rem;
        gap: 9rem;
        padding: 2rem;
    }
    #ulnav li{
        font-size: 1.6rem;
        font-weight: 1000;
    }
    #carouselExampleIndicators{
        width:25%;
    }
    h1{
        font-size: 2rem;
    }
    h2{
        font-size: 1.7rem;
    }
    h3{
        font-size: 1.5rem;
    }
}
@media screen and (max-width:1024px) {
    #grillaIndex {
        grid-template-rows: 125px 450px auto 50px;
    }
    .logo{
        height:8rem;
    }
    #ulnav{
        margin-right:8rem;
        margin-left: 8rem;
        gap: 10rem;
        padding: 1rem;
    }
    #ulnav li{
        font-size: 1.3rem;
    }
    #ulnav li a:hover{
        padding: 1rem;
    }
    #carouselExampleIndicators{
        width:30%;
    }
    h1{
        font-size: 1.8rem;
    }
    h2{
        font-size: 1.6rem;
        margin-top: 6rem;
    }
    h3{
        font-size: 1.4rem;
    }
    .borde{
        border: solid .3rem #d81159;
        width:17%;
    }
    .adoptantesFotos{
        margin-top: 10rem;
    }
    .transformAdoptante1{
        transform:rotate(-5deg);
    }
    .transformAdoptante2{
        transform: scale(1.5,1.5);
    }
    .transformAdoptante3{
        transform: rotate(10deg);
    }
    .testimonioAdoptante{
        font-size: 0.9rem;
    }
}

@media screen and (max-width:943px) {
    #ulnav{
        margin-left: 4rem;
        margin-right:4rem;
        gap: 7rem;
    }
    #ulnav li{
        font-size: 1.3rem;
    }
    h1{
        font-size: 2.5rem;
        margin-top: 6rem;
    }    
    h2{
        font-size: 2.1rem;
    }
    h3{
        font-size: 1.2rem;
    }
    .adoptantesFotos{
        margin-top: 5rem;
    }
    .testimonioAdoptante{
        font-size: 0.9rem;
    }
}

@media screen and (max-width:845px) {
    #grillaIndex {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "header header"
        "carrousel carrousel"
        "adoptantes adoptantes"
        "footer footer";
        grid-template-rows: 125px 350px auto 50px;
    }
    #ulnav{
        margin-left: 2rem;
        margin-right:2rem;
    }
    h2{
        margin-top: 10rem;
    }
    .transformAdoptante1{
        transform:translate(10rem, 2rem)rotate(-5deg);
    }
    .transformAdoptante2{
        transform: translateY(30rem) scale(1.5,1.5);
    }
    .transformAdoptante3{
        transform: translate(-10rem, -2rem)rotate(10deg);
    }
    .testimonioAdoptante{
        font-size: 0.8rem;
    }
    #adoptantes{
        margin-bottom: 30rem;
    }
}

@media screen and (max-width:768px) {
    #grillaIndex{
        grid-template-columns: 1fr;
        grid-template-areas: 
        "header"
        "carrousel"
        "adoptantes"
        "footer";
        grid-template-rows: 125px 300px auto 50px;
    }
    #ulnav{
        margin-left: 0.5rem;
        margin-right:0.5rem;
        padding: 1rem;
        gap:2rem;
    }
    #ulnav li{
        font-size: 1rem;
    }
    h1{
        font-size: 2.6rem;
        margin-top: 3rem;
    }
    h2{
        font-size: 2.2rem;
        margin-top: 2rem;
    }
    h3{
        font-size: 1.8rem;
    }
    #adoptantes{
        margin-top: 8rem;
        margin-bottom: 3rem;
    }
    .adoptantesFotos{
        flex-direction: column;
        gap: 2rem;
        margin-top: 5rem;
    }
    .borde{
        border: solid .4rem #d81159;
    }
    .transformAdoptante1, .transformAdoptante3{
        width:20rem;
        height: 40rem;
    }
    .transformAdoptante1{
        transform:translate(0rem, 0rem)rotate(0deg);
    }
    .transformAdoptante2{
        transform: translateY(0rem) scale(1,1);
        width:25rem;
        height:25rem;
    }
    .transformAdoptante3{
        transform: translate(0rem, 0rem)rotate(0deg);
    }
    .testimonioAdoptante{
        font-size: 1.3rem;
    }
}
@media screen and (max-width:555px){
    #grillaIndex{
        grid-template-rows: 125px 260px auto 50px;
    }
    #carouselExampleIndicators{
        width:43%;
    }
    h1{
        font-size: 2.5rem;
    }
    h2{
        margin-bottom: 0.5rem;
        font-size: 2.1rem;
    }
    h3{
        font-size: 1.7rem;
    }
    .testimonioAdoptante{
        font-size: 1.2rem;
    }
    footer{
        align-content: center;
        font-size:1rem;
        padding: 2rem;
    }
    #footerNosotros{
        padding:0rem;
    }
}
@media screen and (max-width:399px) {
    #grillaIndex {
        grid-template-rows: 100px 260px auto 40px;
    }
    #ulnav{
        flex-direction: column;
        text-align: center;
        gap:1rem;
    }
    #ulnav li{
        font-size: 0.9rem;
        font-weight: 1000;
    }
    .logo{
        height: 5rem;
        width:6rem;
    }  
    #carouselExampleIndicators{
        width:50%;
    }
    h1{
        margin-top: 12rem;
        font-size: 2.4rem;
    }
    h2{
        margin-top: 8rem;
        font-size: 2rem;
    }
    h3{
        font-size: 1.6rem;
    }
    #adoptantes{
        margin-top: 10rem;
    }
    .adoptantesFotos{
        gap: 3rem;
    }
    .transformAdoptante1, .transformAdoptante3{
        width:15rem;
        height: 30rem;
    }
    .testimonioAdoptante{
        font-size: 1rem;
    }
}


/*MEDIA QUERY DE NOSOTROS: FALTA HACER: SE ROMPE EN 556...ARREGLAR TAMAÑO DE TITULOS VER COMO SE VE EN PC Y CELULAR*/


/*
#imgGaleria p{
    font-size: 2rem;
    text-align: center;
}

iframe{
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 40rem;
    width: 50rem;
}


#formAdopcion{
    text-align: left;
    margin-left: 35rem;
    margin-right: 40rem;
    margin-bottom: 5rem;
}


#formAdopcion div{
    font-size: 1.2rem;
    padding: 0.5rem;
}


#formContacto{
    text-align: left;
    margin-left: 40rem;
    margin-right: 40rem;
    margin-bottom: 5rem;
}


#formContacto div{
    font-size: 1.2rem;
    padding: 0.5rem;
}


legend{
    font-weight: bolder;
    font-size: 1.3rem;
}
*/
